.container {
    position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-image: url("C:\Stephalene\Website2\my-app\src\images\download-removebg-preview.png");
      background-size:contain;
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;
    }
  
    .blur-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px); /* Adjust the blur intensity as needed */
    z-index: -1; /* Place the pseudo-element behind the content */
  }
    
    .bordered-box {
      position: relative;
      border: 1px solid #ffffff;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(255, 252, 252, 0.1);
      width: 400px;
      z-index: 1;
      color: black;
      
    }
  
    
    .form-group {
      margin-bottom: 20px;
    }
    
    .form-group label {
      font-weight: bold;
    }
    
    .form-control {
      background-color: #ffffff;
      width: 100%;
      padding: 10px;
      border: 1px solid #ffffff;
      border-radius: 4px;
      
    }
    
    .btn-primary {
      background-color: #3a73b1;
      border: none;
      color: #fff;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 4px;
      margin-left: 40%;
    }
    
    .btn-primary:hover {
      background-color: #0056b3;
    }
  
  